.blogdiv{
    width: 25em;
    padding: 1rem;
    border-radius: 10px;
    margin: 2.5rem 15px;    
    background: var(--color2);
    box-shadow: 0 0 10px 5px var(--color2);
}
.blogdiv p{
    word-break: break-all;
}
.blog{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}