.box{
    justify-content: center;
    padding: 15em 15em;
    text-align: center;
}
.box h1{ 
    font-size: 50px;
    text-shadow: 3px 3px var(--color4);
    color: var(--theme);
}
.box h2{
    color: var(--color1);
    text-shadow: 3px 3px var(--color4);
    font-size: 25px;
}
.box h2:hover{
    cursor: pointer;
}
<!-- HTML !-->
<button class="button-18" role="button">Button 18</button>

/* CSS */
.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
/* 
.ad img{ 
    height: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    transition: 0.75s;
    border: 0;
}
.ad img:hover{
    cursor: pointer;
    transition: 0.75s;
    scale: 1.1;
} 
*/
@media (max-width: 450px){
    .welcome h1{ 
        font-size: 25px;
    }
}
